<div class="text-primary">
  <h1>About Argus</h1>
  <br/>
  <p>People behaving badly...</p>
</div>

<div class="panel panel-info">
  <ul>
    <li>police</li>
    <li>bullies</li>
    <li>youth sports</li>
  </ul>
</div>
