<div class="panel panel-header">
  <h1>About Argus</h1>
  <br/>
  <p>Archiving Videos of People behaving badly...</p>
</div>

<div class="panel panel-info">
  &nbsp;
  <ul>
    <li>Police Misconduct</li>
    <li>Referee Abuse</li>
    <li>Bullying and more....</li>
  </ul>
</div>
Enjoy!


  <%= image_tag("shame1.jpg", class: 'img-responsive center-block', alt: 'nope') %>
