<h1 class = "headline-text text-center">The Argus Project </h1>

<div class="jumbotron" text-center pagination-centered">
  <h3>Documenting bad behavior</h3>
  <div>
    <p>Submit videos by email: </p>
    <ul style="list-style-type:none"
      <li><%= mail_to "videos@argus.today", 'videos@argus.today' %></li>
      <li> Subject:  [put the topic name]</li>
      <li> Body:     [put only the link]</li>
    </ui>
  </div>
</div>


<div>

<%= image_tag("Peacock_at_Warwick_Castle_wide.jpg", class: 'img-responsive', alt: 'nope') %>
</div>
