<h1 class = "headline-text text-center">The Argus Project </h1>

<div class="jumbotron" text-center pagination-centered">
  <h3>Documenting bad behavior</h3>
</div>

<!-- <div class="container-fluid"> -->
<div>
 <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Peacock_at_Warwick_Castle_wide.jpg" class="img-responsive" alt="Example"> -->

  <%= image_tag("Peacock_at_Warwick_Castle_wide.jpg", class: 'img-responsive', alt: 'nope') %>
</div>
