.custom-favorite {
  margin-left: 1em;
  position: relative;
  cursor: pointer;
}

.custom-favorite .glyphicon {
  color: gold;
  font-size: 1.5em;
}

.custom-favorite .glyphicon-star-empty {
  color: gray;
}

.custom-favorite .glyphicon-star {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.custom-favorite:hover .glyphicon-star{
  opacity: 0.5;
}
