<% if current_user %>
<div class="vote-arrows">
  <span><%= link_to " ", video_up_vote_path(video), class: 'glyphicon glyphicon-thumbs-up', method: :post%></span>
  <span><strong><%= video.points %></strong></span>
  <span><%= link_to " ", video_down_vote_path(video), class: 'glyphicon glyphicon-thumbs-down', method: :post%></span>

   <!-- &nbsp  -->

   <% if current_user %>
     <%= render partial: 'favorites/favorite', locals: { video: video } %>
   <% end %>


  <!-- hold for favorite star?  or put favs in separate partial
  fav &nbsp -->
</div>
<% end %>
